[2018-07-13 01:49] kailuowang opened #1 "moving mainecoon in."
I'd like to complete my wip `autoApplyK` in mainecoon and then started to move.

[2018-07-17 13:49] #1 closed

[2018-07-17 13:49] kailuowang commented on #1
done

[2018-07-17 13:50] kailuowang opened #2 "Move sphynx in"

[2018-07-17 13:52] kailuowang opened #3 "Move in tagless related util from freestyle"
@raulraja would you suggest anyone that could help with this?

[2018-07-17 13:54] LukaJCB commented on #2
Any good idea on a name?

[2018-07-17 13:57] kailuowang commented on #2
I suck at naming. How about `optimize`? I don't know.

[2018-07-20 21:13] raulraja commented on #3
I'll ask the Freestyle team and someone will get to it. Thanks! This is exciting!

[2018-07-22 14:36] diesalbla commented on #3
@kailuowang In the title _tagless related util from freestyle_, which components of `freestyle` should be ported to `cats-tagless`?

Porting the macros should not be difficult, since they are written on `scalameta`. On the side of the macros, in the `freestyle-core`, the main elements I can see are the following:

- The `@tagless` macro, to generate complementary parts of the F-algebra. Note that

[2018-07-22 16:04] kailuowang commented on #3
@diesalbla thank you for looking at this. I think the `@tagless` macro to generate complementary parts (`Apply` and `mapK`) overlaps with existing ones already ported in.
The generation of ADT of operations sounds a good one to be ported in.
`@module` looks nice too. BTW just curious can you add more methods to a `@module` trait?

[2018-07-22 17:07] diesalbla opened #6 "PROPOSAL - Migrate Scalameta Macros"
The macro annotations in `cats-tagless` are implemented using the macro system of scalameta.

However, the development of macros and macro annotations in Scala Meta was closed, as explained
[here](http://www.scala-lang.org/blog/2017/10/09/scalamacros.html).

Current support for Scalameta macros may not work in next versions of the scala compiler.

On the other hand, the Scala compiler has recently

[2018-07-23 14:00] #2 closed

[2018-08-08 09:11] diesalbla commented on #3
Regarding the `@module` macro, the annotated trait or abstract class can have other concrete values and methods. It can also have concrete methods of type `F[A]`, where `F[_]` is the parameter of the `F-algebra`, which you can use to combine the operations of the combined algebras. The macro works by taking any deferred `val` to be a reference to an algebra.

The generation of ADT operations is on

[2018-08-08 09:21] diesalbla opened #7 "Documentation - Macro Annotation Section"
Since one major part of `cats-tagless` are the macro annotations, the [documentation](https://typelevel.github.io/cats-tagless/) should explain them clearly. At present, the documentation is a bit mixed in the main page.

For each macro annotation, a documentation page should be written containing the following:
- An initial one-phrase statement of intent. E.g. "Generates an instance of `FunctorK`

[2018-08-08 10:28] kailuowang commented on #3
Makes sense. @diesalbla. I vote let's add the two.

[2018-08-14 13:52] ChristopherDavenport opened #8 "Semiauto Derivation"
It would be very nice to use this with a semiauto encoding in the companion objects. I know circe and shapeless does something like this for Encoder/Decoder/Generic and I'm unsure if it  could be leveraged with the existing macro definitions to create something like the below encoding

[code]

[2018-08-14 16:47] kailuowang commented on #8
Would you mind giving a use case? Currently it's not really a derivation, it's just automatically generated code per algebra trait.

[2018-08-14 17:48] ChristopherDavenport commented on #8
Totally, what I mean is that I would like the auto generated code to be explicitly reference-able and rather than operating with macro magic around the initial trait declaration do that at a location of my choice. (Although personally I would always put this in the companion object.)

Many of my algebras I would look like the following

[code]

[2018-08-14 19:05] kailuowang commented on #8
It makes sense. I am not a huge fan of macro annotation myself. I guess that's possible to make a `deriveFunctorK` macro, although I don't know that much of macro to have a say.

[2018-08-16 13:51] Odomontois opened #9 "Provide instances for cats core types"
e.g.
`FunctorK` for `EitherT`, `StateT`, `WriterT`,`Kleisli`
`InvariantK` for `Functor`, `Apply`, `FlatMap`, etc...
I wonder if they are welcomed in the companion or separate module?

[2018-08-16 13:55] Odomontois opened #10 "autoFunctorK should respect instances of result types"
e.g.
[code]

[2018-08-16 13:57] LukaJCB commented on #9
I think they're welcome here, even though they're not really a part of the `tagless` part of this library. WDYT @kailuowang? :)

[2018-08-16 14:00] Odomontois commented on #8
Sounds like it needs macro rewrite to reflection-based version, since scalameta def-macro probably wasn't merged by @xeno-by

[2018-08-16 14:11] Odomontois commented on #6
For that very reason I temporarily dropped mainecoon from my project, until scalameta paradise didn't get the 2.12.6 support.
This should not happen again!

[2018-08-16 15:36] kailuowang commented on #9
We had numerous attempts of adding a `FunctorK` like type class and instances for those data types before. One of them is https://github.com/typelevel/cats/pull/1815

Since all these data types already have a unified `mapK` (see https://github.com/typelevel/cats/pull/2000
), there wasn't much use cases for adding such a type class. Do you see any use case for them in the context of final tagless?

[2018-08-16 21:03] kailuowang commented on #10
This is possible but might be a bit tricky. `@autoFunctorK` need to investigate all return types to determine what `FunctorK` instances for some return types would be needed to create a `FunctorK` instance for the algebra.

[2018-08-18 13:31] Odomontois commented on #9
Sometimes I'm using definitions like
[code]
`EitherT`  comparing to simple `F[Either[Error, Result]]`  has nice distinction for the following implicit analysis, so along with #10 it could provide great help with keep such definitions along with `@autoFunctorK`

I'm aware that Either is definitely tagged, and there could be some alternatives like
* make those def even more tagless like
[code]
* spl

[2018-09-10 16:16] kailuowang commented on #3
@diesalbla not to rush you by any means. Just wonder how we shall schedule our first release. Shall we do one release now or you think this one is imminent enough to hold it for?

[2018-09-10 16:34] kailuowang commented on #3
got it, Thanks @raulraja. I'll try get the initial release out of the door soon.

[2018-09-11 14:32] kailuowang opened #14 "documentation for the optimization package."
i.e. documentation for the features originally from Sphynx.

[2018-10-01 07:39] SemanticBeeng commented on #6
@milessabin : in the context of https://www.scala-lang.org/blog/2017/10/09/scalamacros.html is your advise about `scala.reflect` based macros mostly ?

Any guidance about fit with `scalameta` based macros?
According to the above decision document this way to create macros is adopted.

I understand _" look very hard at non-macro solutions where at all possible"_ but for code generation macros is a

[2018-10-01 07:45] milessabin commented on #6
@SemanticBeeng it's about macros in general. The only thing that's certain at this point is that scala.reflect macros are not viable in the long term. It's still unclear what will replace them.

[2018-10-01 08:13] SemanticBeeng commented on #6
Understood.
Which leaves me with `scalameta` in mid term, until something better comes along.
Have no knowledge of other better ways to do `program transformation` and `code generation` in Scala.

My best knowledge for long term is Martin's vision here which combines `Scala LMS` and macros (right with me).
`Principled Meta Programming for Scala`
https://gist.github.com/odersky/f91362f6d9c58cc1db53

[2018-10-01 12:37] olafurpg commented on #6
I highly recommend migrating to scala-reflect macro annotations since Scalameta macro annotations are not a viable solution even in the mid term (or short term for that matter). Excluding dependency upgrades and a few rare bug fixes, Scalameta macro annotations have not seen any development since late 2016. There will be no Scalameta paradise release for 2.13.

The Slinky project migrated to scala

[2018-10-25 08:24] notxcain opened #15 "Invocation data type and ReifiedInvocations type class"
I want to drop a support of [Liberator](https://github.com/aecor/liberator) in favour of `cats-tagless`. But there are two very useful types that I need. And I think they may be a good fit for `cats-tagless`.
1. `Invocation[M[_[_]], A]`
[code]
allows to encode some call of `M[F]` resulting in `F[A]` it's like a dual of Free algebra base functor.

2. `ReifiedInvocations[M[_[_]]]` type class
[code]

[2018-10-25 11:42] LukaJCB commented on #15
I'm not sure I fully understand `ReifiedInvocation` but `Invocation` can be seen as a specialization of `Program` :) see here: https://github.com/typelevel/cats-tagless/blob/master/core/src/main/scala/cats/tagless/optimize/Program.scala

[2018-10-26 11:33] notxcain commented on #15
@LukaJCB Program is fine if there is a constraint that exists for all `F[_]`, e.g. `Unconstrained[F[_]]`
Another example for `ReifiedInvocations` is this:
[code]

[2019-02-05 08:40] Fristi opened #19 "Combination of cats-tagless and scoverage"
When you use cats-tagless autoFunctorK on a algebra with scoverage the coverageReport / coverageAggregate bails out:

[code]

Related https://github.com/scoverage/scalac-scoverage-plugin/issues/210

[2019-02-15 10:35] ytaras opened #20 "cats-tagless-macro doesn't work with bloop"
I am not sure if that's a [bloop](https://github.com/scalacenter/bloop) issue or cats-tagless issue, but when I try compilation with bloop compiler, looks like macro annotations are not being expanded.
If I try doing the same with sbt, everything compiles fine.

I've been trying hard to enable more debugging output during macro generation but failed, any hits are appreciated.

I've assembled simpl

[2019-02-15 19:34] kailuowang commented on #20
It's probably the scalameta macro not supported by bloop, and I doubt it will be supported. The plan is to move cats-tagless to scala-macro, though we don't have a timeline for that.

[2019-02-18 23:00] kubukoz commented on #6
The link @olafurpg posted is obsolete now, here's the updated one: https://github.com/JetBrains/intellij-scala/wiki/Library-Extensions

[2019-02-27 03:37] dispalt commented on #6
I somewhat attempted to do this but ran into a macro issue that I can't figure out.  I implemented finalAlg and autoFunctorK.

https://github.com/dispalt/tagless-redux

The macro issue is stacking multiple macros with no companion object present somehow nets a missing companion class, which I am sure can be solved I am just running out of steam on how to do it.

[2019-02-27 11:32] kailuowang commented on #6
@dispalt, thank you for the report. It's helpful to learn that.

[2019-02-27 21:27] dispalt commented on #6
And I am not saying it can't be done, and I am sure someone with more experience with macros could figure it out, but it's a decent start

[2019-03-04 09:08] Fristi opened #21 "Derive implementation based on other type class instances"
## Use case

An example of one of my algebras:

[code]

Each algebra is tested in isolation as most of them have side effects and therefore I test them against a real database.

Now in my service layer I use multiple algebras together to run a specific flow. These flows can fail and therefore a typical service method uses `EitherT[F, ErrType, Res]`. As I've tested the algebras already I can just s

[2019-03-04 11:48] kailuowang commented on #21
Apologize in advance that I am replying from my phone. Thanks for this detailed explanations. I think it should be pretty easy to write a macro that generates an empty interpreter for an algebra for a `F[_] : EmptyK`, EmptyK is a lawless class defined in Alleycats. Similarly, we can add a OneK there to better fit your test semantics, and write a macro that generates interpreters for that.
I agree

[2019-03-04 13:43] kailuowang commented on #6
It looks like we need some scalamacro expertise to tackle this, which I lack (hence the choice of scalameta at the first place which I regret). The easiest way is probably me partner with a macro guru together on this - I am going to try recruit one.
https://twitter.com/kailuowang/status/1102564142031011840

[2019-03-04 14:33] fommil commented on #6
I was planning on writing something equivalent to `FunctorK` in scalaz, with a compiler plugin to generate the boilerplate. If anybody wants to take a look at that approach, which I guess is along the lines that @milessabin is proposing (I assume compiler plugins are still going to be available in Scala 3) then https://github.com/scalaz/scalaz-deriving/blob/master/deriving-plugin/src/main/scala/sc

[2019-03-04 17:31] joroKr21 commented on #6
@fommil That's a noble cause, but what is to guarantee compiler plugin APIs will remain compatible from Scala 2 to Scala 3 :smile:

I would propose the following migration path (which can be taken in many small steps by different contributors):
  1. Migrate all typeclass derivation to blackbox macros, one by one (leaving macro annotations to generate one-liners);
  2. Review all annotations which

[2019-03-04 17:37] fommil commented on #6
@joroKr21 I don't think the code would survive, but surely the principles would. I definitely agree to the use of blackbox as much as possible. This is also what is encouraged in the annotation plugin.

An immediate benefit of an annotation plugin is that a) metals / scalaide will support it and b) there is a clear path from there to write an intellij plugin (examples provided). These points becom

[2019-03-04 19:01] kailuowang commented on #6
Thanks @joroKr21 and @fommil

@joroKr21, there are no new types generated. I think what you have with blackbox is where we want to be. cats-tagless is a bit more complex due to the need to support all kinds of different shape of algebra type signatures, e.g. `Alg[F[_], A, B]`, or `trait Alg[F[_]] { type A }`, and method types.
This test is a more complete list of types and methods it supports for

[2019-03-04 20:59] joroKr21 commented on #6
That's ok, but how does the annotation decide which type parameter (`F[_]`) to choose? I guess the answer to this question means that it won't be possible to generate simply `implicit val functorK: FunctorK[Alg] = FunctorK.derive`.

Regarding your suggestions - I'm not sure before I look deeper in the code, but I think I prefer starting from scratch and making one typeclass work.

[2019-03-04 21:47] kailuowang commented on #6
the annotation doesn't decide which F[], it's based on some convention rules, namely
if there is only one type constructor type param use that, if there are multiple, use the last one.
Starting from scratch sounds good to me. I am not sure the original code is super readable either.

[2019-03-05 08:03] joroKr21 commented on #6
Dependent types are the most tricky because they require symbols to define which we don't have yet before typechecking the definition :/

[2019-03-05 14:26] kailuowang commented on #6
@joroKr21 maybe for phase one we first drop support for dependent type?

[2019-03-06 08:06] joroKr21 commented on #6
Let me try a few ideas first

[2019-03-06 15:11] dispalt commented on #6
You can check out a couple semi-auto style versions I did here. https://github.com/dispalt/tagless-redux/blob/master/tests/src/test/scala/cats/tagless/tests/DerivationTests.scala

[2019-03-06 16:34] joroKr21 commented on #8
This could be part of a migration path towards a `scala.reflect` based solution as I proposed in #6

[2019-03-06 16:39] joroKr21 commented on #6
Managed to make it work for dependent types (but not yet refined types). WIP here: #8

It would be nice to document the necessary and sufficient conditions to generate instances.

For example, for `FunctorK` I assume that `F` can only appear as a type constructor in the return type of methods, but technically it might be possible to piggy-back on existing `FunctorK` instances (e.g. `Stream[F, Foo]

[2019-03-06 16:45] kailuowang commented on #6
@joroKr21 yeah, I meant to add that documentation but never get to.
Piggy-back on existing `FunctorK` instances is not supported. It was asked by some users before and I can see being useful. But I suspect the implementation would be pretty complex. I propose we tackle it on future releases.

[2019-03-06 16:46] joroKr21 commented on #10
It probably wouldn't be too hard to construct a `PolyType` `F[_] => Foo[F, Bar[Baz[F]]]` and then try to summon an implicit instances of `FunctorK` for it. Could attempt that after #6 is complete though (which might take a long time).

[2019-03-06 16:48] joroKr21 commented on #10
You could also argue that there should be a `ContravariantK` and `FunctorK` should respect instances of it in method parameter positions :smile:

[2019-03-06 16:48] kailuowang commented on #6
For now the rule of thumb to determine if an algebra can have autoFunctorK is to whether you can easily manually write the `FunctorK` instance.

[2019-03-06 22:57] fommil commented on #6
for something to be able to have a `FunctorK`, the `F[_]` must only appear in covariant position in all of its fields.

FYI the equivalent Haskell boilerplate looks something like

[code]

where `...` is an operator from https://hackage.haskell.org/package/universum-1.5.0/docs/Universum-VarArg.html that may have a scala equivalent.

Otherwise, you can fall back to manual arity with something like

[2019-03-06 23:04] fommil commented on #8
@ChristopherDavenport What you want is basically what `@deriving` already does (see https://github.com/scalaz/scalaz-deriving) ... it just needs to have a blackbox macro to point at for these specialist typeclasses. It might need a little tweak to support the Kind, but that should be easy enough.

Read in particular the sentence beginning "You can provide your own project-specific wirings "

[2019-03-07 00:45] dispalt commented on #6
Hey guys I pushed an intellij integration that's very simple.  You can check out the example here, https://github.com/dispalt/tagless-redux-ijext

It's rudimentary but it's pretty neat.  Basically it will supply the fake methods depending on the presence of an annotation.  It uses the extension method which works with a recent version of intellij.

So if you clone that repo, import to intellij, it

[2019-03-07 02:25] joroKr21 commented on #6
@fommil That's very neat. I've seen the "dots" before but I had completely forgotten about them. However I don't know of any port to Scala (maybe opportunity for a pet project?).

@dispalt Thanks, the plugin should work regardless of how the instances are generated right? Also it looks like you already have a working implementation based on `scala.reflect`. Is it a port of the code in this repo? M

[2019-03-07 04:48] dispalt commented on #6
I did port finalAlg autoFunctorK to paradise, then ported them to a semi auto style. Did not yet port them to paradise + blackbox. But the code is crap and I really only care about FunctorK personally.

Yes it does work based on fq annotation names so it should drop in work with a new annotation easily. Also the intellij code isnt great just wanted to play around, it's not a bad framework, just to

[2019-03-07 08:27] fommil commented on #6
btw if you use `@deriving(FunctorK)` for this (which might work with only config changes, that can be provided with the cats-tagless jar, so out of the box for users) then you'll get IntellJ support for free.

The more I think about it the more I'm convinced it should work... there might be a couple of branches to add to the plugin code to handle the HKT but the semiauto boilerplate is basically i

[2019-03-11 16:07] #8 closed

[2019-03-15 17:48] kailuowang commented on #6
It turned out that switching to old `scala.reflect macro annotation` is still a bit beyond my close-to-zero scala macro skills. What I can do though and might be a low handing fruit is to create a new module that only includes the blackbox macro "semi-auto" derivation style and rid off the scala meta dependency and release that. @joroKr21 what do you think?

[2019-03-15 23:32] joroKr21 commented on #6
Yes, I think it will still take some time to migrate, because there are also a lot of methods generated on the companion objects which would have to be rewritten. And it would have to be a big rewrite, it can't be done piecemeal. Maybe we can cut some less used features but I'm not sure yet :thinking:

About releasing the macros for "semi-auto" lovers, do we need a separate module? Would the scala

[2019-03-16 00:19] joroKr21 commented on #6
I guess one reason to release a separate module (and keep it) would be to make it lighter-weight for people who want to use "semi-auto" only or `scalaz-deriving`. I didn't have time to check try out the latter yet.

[2019-03-16 12:26] joroKr21 commented on #6
Okay I'm sold on releasing a separate module :+1:

Option 1. is less work so I would go for that. We can cut this dependency later on as well.

[2019-03-18 09:19] joroKr21 commented on #6
On the other hand, I'm not sure what the migration path would look like anymore. I was planning to just replace the existing code with `scala.reflect` code (is that possible?)

[2019-03-18 17:59] kailuowang commented on #6
@joroKr21 you should still be able to do that if, for any code you want to replace, you write the new code in the new module and change the usages in the legacy module to use this new code instead right? Unless you need dependency the other way as well, i.e. new code depending on legacy code?

[2019-03-18 18:55] joroKr21 commented on #6
That wouldn't work anyway. I guess it doesn't really matter if we replace old code or just write new code based on the old one :smile:

[2019-03-19 01:23] dispalt commented on #6
I might have missed this but how are you all thinking about autoDerive and fullyRefined? I think that will change the amount of work for the annotations.

I think the simplest is just ditch the meta annotations and do the reflect version, its not like there are really any changes that need to happen to the meta version.

[2019-03-19 08:13] joroKr21 commented on #6
@dispalt we were talking about releasing a separate module without macro annotations.

[2019-03-19 13:16] dispalt commented on #6
yeah definitely, I just wasn't sure if the plan was to then do macro annotations with or without auto derive. I was thinking of maybe trying to do the macro annotations using the semi auto macros, and was wondering what the thought is on autoDerive, etc.

[2019-03-19 14:24] kailuowang commented on #6
@dispalt I think we can create reflect.macro annotations little by little.  If we can add macro annotations that simply calls the semiauto macros that would be great. The next step could be the instance summoning `apply` methods. Personally I think `autoDerive` using implicit instance and `FunctionK` is lower priority.

[2019-03-20 01:42] dispalt commented on #6
Yeah I agree, are you going to re-arrange the code to a new module, or keep as is, Ill probably wait til that's done before doing anything.

[2019-03-21 17:14] kailuowang commented on #6
the new module is ready. we can start porting annotations there one by one.

[2019-03-22 18:07] Daenyth opened #29 "Support derivation for case class"
Example:
[code]
I'd expect it to generate something like:
[code]

[2019-03-22 19:28] joroKr21 commented on #29
That's a good point. I've thought about it. It's also trivial to convert a trait with methods to a case class with functions. But I guess it's way more popular to use traits for final tagless in Scala. I'm not sure about any performance implications.

For case classes we could use shapeless. The problem would be how to integrate that with the traits derivation. Also note that shapeless doesn't sup

[2019-03-22 19:44] joroKr21 commented on #29
Ah, I just realized that shapeless doesn't have `Generic` for this kind of case classes. It has `Generic` for kind `*` and `Generic1` for kind `* -> *` but not for `(* -> *) -> *` which is what we have here. So that would be very difficult!

[2019-03-25 08:48] joroKr21 opened #31 "Typeclass derivation should not try to override final methods"
This is obviously a bug but also an enhancement because once it's fixed we could define final derived methods on algebras which would not be subject to the restrictions for deriving the typeclass.

[2019-03-25 10:40] joroKr21 commented on #6
@fommil, I tried scalaz-deriving, but unfortunately it doesn't work out of the box. It looks like it's missing some kind checks and it thinks it should require `implicit def functorK[F[_]: FunctorK]: FunctorK[Alg[F]]` instead of `implicit val functorK: FunctorK[Alg] `. You can checkout this branch to see: https://github.com/joroKr21/cats-tagless/tree/scalaz-deriving. The most difficult part was ac

[2019-03-25 11:09] fommil commented on #6
@joroKr21 cool, that is pretty much what I expected. It should be relatively easy to fix.

BTW you're supposed to put the `deriving.conf` in the classpath of your `main` not `tests`.

The easiest way to get this working would be to add a higher kinded example to https://github.com/scalaz/scalaz-deriving/tree/master/deriving-plugin/src/test/scala
and then try to find out what is breaking in the plu

[2019-03-25 15:22] rreckel opened #32 "Default arguments should be supported"
Compilation will fail, if the algebra has default arguments.
As an example, the following code will not compile
[code]
When the default value of the msg argument of the test function is removed, the compilation will succeed.

[2019-03-25 19:21] joroKr21 commented on #32
I noticed that too. @kailuowang do you know if this is a regression? Did the old implementation support default arguments?

[2019-03-26 16:03] #31 closed

[2019-03-26 16:03] #32 closed

[2019-04-10 21:56] zhiwilliam opened #34 "flagMap is not a method of F[Int] issue"
It might not an issue, but I did every step exactly in the document, added compiler and dependenceis, copied your Increment example. And it failed to compile say flagMap is not a method of F[Int]. Please advice.

[2019-04-10 22:42] kailuowang commented on #34
Can you post your code somewhere? It's hard to diagnose without seeing the actual code.

[2019-04-11 00:50] zhiwilliam commented on #34
import cats._
import cats.implicits._
import cats.syntax.all._
import scala.util.Try
import cats.tagless._
import cats.tagless.implicits._
import cats.implicits._

@finalAlg
@autoFunctorK(true)
trait Increment[F[_]] {
  def plusOne(i: Int): F[Int]
}

object Test extends App {

  implicit object incTry extends Increment[Try] {
    def plusOne(i: Int) = Try(i + 1)
  }

  def program[F[_] : Monad : I

[2019-04-11 00:52] zhiwilliam commented on #34
Looks like git will eat some character. Please use edit and then you can see all the code.

[2019-04-11 01:16] kailuowang commented on #34
@zhiwilliam I updated you comment above to use markdown code block to enable formating for the code. It looks like a cats syntax error, you imported `cats.implicits._` twice as well as `cats.syntax.all._`. that might be the cause of this funky issue. Will you try simply `import cats.implicits._` once (you don't need `import cats.syntax.all._`, `cats.implicits._` have them all. )

[2019-04-11 01:28] zhiwilliam commented on #34
[code]

[2019-04-11 01:37] kailuowang commented on #34
ah, now you get a different error. this one is complaining there is no companion object found for `Increment`.  How about you add a line
[code]

[2019-04-11 01:39] kailuowang commented on #34
you can use this command to create a new blank scala project
[code]

[2019-04-11 01:40] zhiwilliam commented on #34
added then stack overflow..

Exception in thread "main" java.lang.StackOverflowError
	at java.lang.ClassLoader.defineClass1(Native Method)
	at java.lang.ClassLoader.defineClass(ClassLoader.java:763)
	at java.security.SecureClassLoader.defineClass(SecureClassLoader.java:142)
	at java.net.URLClassLoader.defineClass(URLClassLoader.java:467)
	at java.net.URLClassLoader.access$100(URLClassLoader.java:7

[2019-04-11 01:42] zhiwilliam commented on #34
No you didn't get it. I have code running here. But if you could, please also reproduce it in your local. Otherwise just by guessing to resolve the problem will take long time conversation.

[2019-04-11 01:43] kailuowang commented on #34
Now that is something I would expect to happen. Your line ` z <- if (j < 10000) program[F](j) else Monad[F].pure(j)`  is not stacksafe when `F` is a `Try`.
if you reduce it to 100, it should work.

[2019-04-11 01:47] zhiwilliam commented on #34
Nice, it works. Thanks a lot!
BTW, this is the example in the https://typelevel.org/cats-tagless/
Would you please update them? 'cause it will kill many potential users.

[2019-04-11 01:49] zhiwilliam commented on #34
[code]
This final version works for me.

[2019-04-11 01:50] #34 closed

[2019-04-16 14:51] joroKr21 commented on #34
The example is compiled with http://tpolecat.github.io/tut/ so it does work, the only issue is that you have to follow along by running every snippet of code. It's not a self-contained example. It might be better to have an examples project for this purpose though.

[2019-04-16 14:54] joroKr21 opened #35 "Create examples project"
The microsite with tut snippets is great, but those are not fully-fledged examples.

[2019-04-16 14:54] joroKr21 commented on #34
I opened #35 for more substantial examples.

[2019-04-26 13:49] Daenyth opened #36 "Can't derive builder-style methods"
[code]

Gives
[code]

There's a trivial manual implementation here:
[code]

[2019-04-26 15:46] kailuowang commented on #20
the core functionality of cats-tagless is no longer dependent on scala-meta-macros.
Migrating to cats-tagless 0.5 without dependencies on `cats-tagless-legacy-macros` will likely fix this.
For an example of such migrations please see
https://github.com/iheartradio/thomas/pull/37/files

[2019-04-26 15:46] kailuowang commented on #19
the core functionality of cats-tagless is no longer dependent on scala-meta-macros.
Migrating to cats-tagless 0.5 without dependencies on `cats-tagless-legacy-macros` will likely fix this.
For an example of such migrations please see
https://github.com/iheartradio/thomas/pull/37/files

[2019-04-26 17:31] joroKr21 commented on #36
Maybe not quite a duplicate but in the same vein as #10

[2019-04-29 14:32] kailuowang opened #37 "replace scala-meta macro annotations with scalamacros"
This migration involves three areas of logic, in priority high to low order.  We can do these in separate PRs.

- [x] derivation instances for algebra without abstract type members - one that generates default instances using the `cats.tagless.Derive` . e.g.
[code]
This need to handle situation where Alg with extra type params other than the effect type
The actual derivation is provide by the `cat

[2019-04-29 16:27] marcin-rzeznicki commented on #37
Hey, thanks for the issue. I am given some paid time from my company to participate in Sustainability Program, so I thought I could give it a try - I obviously don't want to step in anyone's toes, so please let me know if someone is already working on this, but if not I think I could take care of it.

[2019-04-29 16:49] kailuowang commented on #37
cc @joroKr21

[2019-04-29 17:37] dispalt commented on #37
I sorta half started working on it here, https://github.com/dispalt/tagless-redux/blob/master/macros/src/main/scala/cats/tagless/autoFunctorK.scala but it is far from complete, and the code is really messy.  But if you wanted to look at something there you go.

I am not going to work on it anytime soon (unfortunately).

[2019-04-29 18:11] joroKr21 commented on #37
I am not working on this actively atm. I would be very happy if you can make this happen. Even if you get only part of the way,  don't be shy to open a PR and I will do my best to help.

All I did was remove some code which became unused after delegating companion methods to the generated instances. Just to reduce the surface area. I will push it later tonight.

[2019-04-29 18:51] joroKr21 commented on #37
Here it is: #38

[2019-04-30 10:29] marcin-rzeznicki commented on #37
Thanks guys, I'll take a stab at it

[2019-05-03 11:59] Fristi commented on #19
I can confirm, it works like a charm now :-)

Thanks for fixing it, feel free to close the issue

[2019-05-03 12:22] kubukoz opened #39 "Release for 2.13.0-RC1"
2.13 is weeks away, we should try to get cats-tagless to build with it already :)

[2019-05-03 12:37] joroKr21 commented on #39
I guess we would have to wait for catalyst. Is there something else? :thinking:

[2019-05-03 12:39] kubukoz commented on #39
AFAICS catalysts might not be blocked anymore, btw: https://github.com/typelevel/catalysts/issues/27

[2019-05-03 15:03] kailuowang commented on #39
Cats-tagless should probably follow cats and cats-effect and remove dep on catalyst. I will look into this

[2019-05-05 11:09] kailuowang opened #41 "Laws snapshot release failed on 2.13"

[2019-05-06 16:56] marcin-rzeznicki commented on #37
Hey, I opened a WIP PR #43 to show some progress. Please take a look! Thanks

[2019-05-07 01:21] kailuowang commented on #39
0.6 released

[2019-05-07 01:21] #39 closed

[2019-05-09 19:24] marcin-rzeznicki commented on #37
So, I am almost done with all the annotations. I am currently facing a minor issue where `Derive` macros are overriding type member which is defined also in the refinement resulting in something like:
[code]

[2019-05-09 20:57] joroKr21 commented on #37
Hmm I wonder why the existing tests didn't catch this :thinking:
Do you have a failing test?
It would help fixing the issue.

[2019-05-09 21:06] joroKr21 commented on #37
I get this on master so maybe something related to the migration
[code]

If you push your latest changes I can take a look.

[2019-05-09 22:43] marcin-rzeznicki commented on #37
Well, tests didn't catch this because shape of types have changed slightly during migration. The "old" code was creating a type-lambda everytime eg. `cats.tagless.InvariantK[({ type λ[Ƒ[_]] = AlgWithTypeMember[Ƒ] { type T = T0 } })#λ]` For me it was somehow easier to write it that type lambda is only created when needed, that is whenever the algebra contains more type parameters than one. So the n

[2019-05-10 08:04] joroKr21 commented on #37
I didn't know this was legal Scala syntax :smile: You live and you learn.

I will check later for a fix. I'm not sure I follow what you proposed. But in general if it's not abstract in the refinement, well then it should not be abstract when delegating the types. So maybe this type has a shape which is somehow not handled by the macro, but I'm not sure.

[2019-05-10 08:29] joroKr21 commented on #37
Something's wrong here:
[code]

[2019-05-10 10:55] marcin-rzeznicki commented on #37
Haha - me neither :-)

What I think is happening is that the check for abstractness `member.isAbstract` is not that robust - a "better" check (at least solving the problem I mentioned) is `..typeSignatureIn(algebra).typeSymbol.isAbstract` - this way we do not try to delegate members that are refined (but abstract in a declaring type - if I understand it correctly). I think that examples you pasted

[2019-05-10 11:57] joroKr21 commented on #37
Looks like that breaks the definition with type lambdas.
This looks like a bug in scalac, but I'm still trying to figure out how to work around it.

[2019-05-10 12:17] marcin-rzeznicki commented on #37
Ah, interesting :-) For now this works for me with no glitches :thinking:

[2019-05-10 13:56] joroKr21 commented on #37
Found the fix (idk why it took me so long :smile: ):
[code]

[2019-05-10 14:48] marcin-rzeznicki commented on #37
Actually, there are glitches. Sometimes it leads to
[code]

[2019-05-10 15:18] marcin-rzeznicki commented on #37
Super, thx @joroKr21

[2019-05-10 16:34] marcin-rzeznicki commented on #37
Please review #45. I hope it fixes all the tasks to complete migration

[2019-06-01 09:34] joroKr21 opened #48 "Profunctor/Bifunctor derivation"
Adding an `@autoProfunctor` annotation would require reworking `AlgDefn` a bit to handle a list of type parameters instead of only one.

[2019-06-01 11:56] LukaJCB commented on #48
We could probably derive bifunctor in a similar way :)

[2019-06-01 13:52] marcin-rzeznicki commented on #48
Good idea! I can try to add that some time next week, now that I have quite recent understanding of the code base

[2019-06-01 13:55] marcin-rzeznicki commented on #37
Now that we have merged #45 maybe we can check off some items (possibly all)?

[2019-06-01 19:14] joroKr21 commented on #9
That would work nicely together with #10

[2019-06-01 19:56] joroKr21 commented on #37
We have two issues about this ATM (this one and #6).
We can probably close one of them.

Do we want to define the `fullyRefined` instances for all supported typeclasses?
If we do it might be a good idea to put it behind a flag.

We might want to open a separate issue for Intellij support.

[2019-06-01 20:11] joroKr21 commented on #48
Indeed. Bifunctors are really popular these days :smile:

@marcin-rzeznicki I have an old branch that adds `Derive.profunctor`, but not the annotation.
I will add some tests and make a PR soon.

[2019-06-03 10:11] milessabin commented on #48
For reference: https://github.com/dotty-staging/dotty/blob/4e434e0f7a6b0f62dc39db19c3b65139723d7548/tests/typeclass-derivation/typeclass-derivation-4-split/TypeClasses_3.scala#L136-L181.

[2019-06-04 13:24] marcin-rzeznicki commented on #48
Thanks @milessabin . Also thanks for the PR @joroKr21

[2019-06-04 13:25] marcin-rzeznicki commented on #48
BTW we could change the tile and mention `Bifunctor` /

[2019-06-06 14:41] marcin-rzeznicki commented on #37
Well, for one thing if there are no abstract type members in the algebra itself then there i no need to generate it, as it is indistinguishable from non-fully-refined instance. But I guess it is important to have this regularity for algebra consumers. The other point is that companion's generated methods are sufficient for correct inference etc. as they return fully-refined instances through depen

[2019-06-06 18:34] Daenyth commented on #10
It would be excellent if this could also notice if `Foo[F]` has a `mapK` function itself, and use that if there's no `FunctorK[Foo]` instance, similar to how `flatMap` works with `for`

[2019-06-07 07:02] joroKr21 commented on #10
I don't think that's a good idea. It wouldn't generalize well. And after all you could trivially implement a `FunctorK` instance but you would be responsible for upholding the laws.

`for` is just the syntax sugar for `flatMap`, but it doesn't automatically give us a `FlatMap` instance.

[2019-06-07 16:10] Daenyth commented on #10
Good point

[2019-06-08 08:36] joroKr21 opened #51 "Semigroupal derivation"
See `SemigroupalK` and its derivation.

[2019-06-08 08:40] joroKr21 commented on #20
Cats-tagless has migrated to scala.reflect macro annotations in 0.7. Please reopen if the issue persists.

[2019-06-08 08:40] #20 closed

[2019-06-08 08:44] joroKr21 commented on #19
Cats-tagless has migrated to scala.reflect macro annotations in 0.7. Please reopen if the issue persists.

[2019-06-08 08:44] #19 closed

[2019-06-08 19:11] Katrix opened #52 "autoInvariantK fails when function takes lambda"
`@autoInvariantK` fails on this code

[code]

Error
[code]

[2019-06-08 21:00] joroKr21 commented on #52
Yes, there is no support yet for algebras where the type parameter `F[_]` is nested in a compound type. See #10. I think it will be possible to implement, given that we have an instance of `InvariantK[λ[f[_] => String => f[Boolean]]]` (which can be defined). That's one of the next things on my list to try, but I'm not there yet. Ofc anyone is free to beat me to it :smile:

There is also a lot to b

[2019-06-10 17:46] kailuowang commented on #41
resolved

[2019-06-10 17:46] #41 closed

[2019-06-11 12:10] marcin-rzeznicki commented on #51
Got it, I still haven't got time to look at Bifunctor and friends but I'm optimistic about it :-)

[2019-06-11 16:33] danslapman opened #53 "Support varargs"
Currently (0.7) this fails to derive:

[code]

[2019-06-13 11:52] #53 closed

[2019-06-16 15:17] danslapman commented on #53
:hooray:

[2019-06-24 11:46] marcin-rzeznicki commented on #48
Sorry for the long delay. I was attending a Haskell conference for about a week plus had things to do in my work :smile:  I'm on it now - will PR soon.

[2019-06-26 21:34] joroKr21 commented on #52
The error on the #56 branch is:
[code]
And once we define this instance in scope it works:
[code]

:tada:

[2019-06-28 11:25] marcin-rzeznicki commented on #48
I think we can close this. Thanks @kailuowang @joroKr21

[2019-06-28 11:56] joroKr21 commented on #48
Resolved in #57, thanks @marcin-rzeznicki!

[2019-06-28 11:56] #48 closed

[2019-06-28 20:38] joroKr21 commented on #36
Hmm note that the "trivial manual implementation" would always overflow the stack.
This would only make sense if we return something other than `Example[F]`.

[2019-06-28 20:42] joroKr21 opened #58 "Add ContravariantK"
This makes sense to complete the picture in #56
`FunctorK` and `ContravariantK` are dual and would depend on each other for derivation.
Right now `FunctorK` cannot handle `Cokleisli` in parameter position.

[2019-06-28 21:04] joroKr21 commented on #21
As far as I understood the main use case is for testing. Wouldn't then be enough to just implement all methods with `???` - it's easy to create such a value, but the difficult part is actually creating a new class that can be extended.

[2019-06-29 19:37] #9 closed

[2019-06-29 19:37] #10 closed

[2019-06-29 19:37] #52 closed

[2019-06-29 19:48] joroKr21 opened #59 "Decide what to do about fullyRefined instances"
Currently only `autoFunctorK` and `autoInvariantK` define fully refined instances in a special `fullyRefined` object inside the companion object of algebras.

We have at least three options:

1. Generate only fully refined instances:
    - :+1: No awkward imports, everything is in the companion object.
    - :-1: It's not clear if that would work in all cases (needs investigation).

2. Add a `full

[2019-06-29 19:51] joroKr21 opened #60 "Create Intellij plugin for macro annotaions"
Intellij needs a special plugin to expand macro annotations.
See https://blog.jetbrains.com/scala/2015/10/14/intellij-api-to-build-scala-macros-support/

I couldn't find enough info about this so we might want to check how simulacrum has implemented it.

[2019-06-29 20:10] joroKr21 commented on #60
Simulacrum injector: https://github.com/JetBrains/intellij-scala/blob/42d6cabb6a50c9048f3bb8564eccd4082703aa5a/scala/scala-impl/src/org/jetbrains/plugins/scala/lang/psi/impl/toplevel/typedef/simulacrum/SimulacrumInjector.scala

Monocle injector: https://github.com/JetBrains/intellij-scala/blob/42d6cabb6a50c9048f3bb8564eccd4082703aa5a/scala/scala-impl/src/org/jetbrains/plugins/scala/lang/psi/impl/t

[2019-06-29 20:15] joroKr21 commented on #37
I think it's time to close this issue.

The migration was done in #45 by @marcin-rzeznicki. Many thanks! :heart:

I opened #59 for `fullyRefined` and #60 for the Intellij plugin to focus efforts.

[2019-06-29 20:15] #37 closed

[2019-06-29 20:18] joroKr21 commented on #6
The migration itself was done in #45. See also #37.

See #59 and #60 for follow up work.

[2019-06-29 20:18] #6 closed

[2019-06-29 21:59] kailuowang commented on #59
I am on my phone, but IIRC fully refined instance is not usable when an instance for the existential type (i.e. not fully refined) is expected, because FunctorK is not covariant on the Alg type.
I think I would vote for option 2, because to me this advanced feature justify some manual control by users.

[2019-07-01 18:08] LukaJCB opened #62 "Migrate to mdoc"

[2019-07-01 18:22] joroKr21 commented on #62
What's the advantage over `sbt-microsite`?

[2019-07-01 18:23] LukaJCB commented on #62
`sbt-microsites` supports both tut and mdoc nowadays :)
https://47deg.github.io/sbt-microsites/docs/settings.html

[2019-07-01 18:45] Daenyth commented on #36
I'm not seeing how - can you point it out? I use something pretty close to this

[2019-07-01 19:00] kailuowang commented on #62
I would wait on it supports 2.13
https://github.com/scalameta/mdoc/issues/156

It's actually blocking sbt-microsite from supporting 2.13 at the moment.

[2019-07-01 19:16] kailuowang commented on #62
BTW, by tracking that mdoc issue, I noticed that mdoc has more dependencies than `tut` and some of them depends on `Cats`, not necessarily a deal breaker for cats-tagless though.

[2019-07-01 20:45] Daenyth opened #63 "Example of build.sbt for 2.12/2.13 cross compile?"
The readme mentions to only use the compiler plugin on 2.12 - how should build.sbt be set up for a project that's cross-building 2.13 and 2.13?

[2019-07-01 21:15] joroKr21 commented on #36
Hmm I just tried it out and indeed it doesn't overflow the stack.
It looked to me from the definition that `exampleFunctorK.mapK(example)(fk).withFoo("foo")` would keep calling `mapK` forever but that's not the case.

[2019-07-01 21:36] kailuowang commented on #63
You can find examples in many OSS projects , e.g. cats. A PR to the readme would be great!

[2019-07-01 22:21] #36 closed

[2019-07-03 14:22] Daenyth commented on #63
Note to self for later: https://github.com/typelevel/cats/blob/master/build.sbt#L90

[2019-07-04 12:58] marcin-rzeznicki commented on #37
Thank you, I can take a stab at the remaining issues. Currently I'm on a short vacation so maybe some time next week

[2019-07-04 12:59] marcin-rzeznicki commented on #59
I agree with @kailuowang :+1:

[2019-07-04 13:01] marcin-rzeznicki commented on #60
I'll take a look when I'm back from vacations - I've had some previous experience with IntelliJ plugins so maybe I can pull it off quickly :thinking:

[2019-07-07 17:29] joroKr21 commented on #59
In that case we could put the fully refined instances directly in the companion object, regardless of whether or not we use a feature flag.

[2019-07-08 18:00] #58 closed

[2019-08-15 08:08] Fristi commented on #21
Yes I did that :-)

However due several refactorings I don't have a need for this anymore, closing this for now

[2019-08-15 08:08] #21 closed

[2019-08-25 04:12] olafurpg commented on #62
FWIW, mdoc itself doesn't depend on cats but we have dependencies in our test suite that depend on cats.

[2019-08-25 23:48] olafurpg commented on #62
mdoc v1.3.2 is out now with 2.13 support

[2019-11-25 11:04] joroKr21 opened #91 "Derive Apply Typeclass"
See `Derive.applyK`

[2019-12-14 14:31] #91 closed

[2019-12-16 19:57] #51 closed

[2020-02-05 21:31] #63 closed

[2020-03-29 19:20] kubukoz opened #125 "Having multiple annotations on a trait without a companion throws at runtime"
[code]

This will result in `java.lang.NoClassDefFoundError: Foo$`. Uncommenting the companion object fixes things.

[2020-03-29 19:22] joroKr21 commented on #125
Ha, interesting. I guess the two annotations are competing on adding the companion object 🤔

[2020-03-29 22:50] kubukoz opened #126 "Provide method parameter names and values in Instrument"
It would be nice to have access to names and values of the parameters for the given call.

Why would this be useful?

- generating keys for caching
- adding selected parameters as tags to a distributed tracing span
- logging selected parameters in an error handler added to the underlying algebra

This will likely be problematic because of the types, but maybe there's something we can do about this

[2020-03-29 23:02] kubukoz commented on #126
For cases when one wouldn't need any constraints, I suppose we could utilize a type like `type NoConstraints[A] = Unit`. Sadly `Nothing` doesn't work with the shape of `Parameter` I proposed (unless we decide it's okay for a `def constraints: Nothing`-shaped method to throw exceptions, which I think wouldn't be so bad, as the shape implies the method has to throw or never terminate)

[2020-04-01 22:43] kubukoz commented on #126
I also realized we might want to have some type class instances for the results of functions in the algebra. However, that, the parameters and whatever Instrument provides already seem orthogonal and could probably end up in different type classes.

For return types, another shape, similar to Parameter comes to mind:

[code]

Note the lack of the existential. We don't need it, because each method

[2020-04-02 22:29] kubukoz commented on #126
The whole thing turns out to be more complex than I thought. For example, guessing the type of "this has instances of `Constraints[A]` for all `A` in the set of `String, Int, Boolean, List[String]`. I made a reference implementation with shapeless and it kinda works, but there's a lot of extra work on the user's side that requires familiarity with shapeless (at least in the pieces of code that act

[2020-04-02 23:19] kubukoz commented on #126
Turns out we can completely separate the effect out of these instrumentations, probably the same can be done with `Instrument`. The effect can be retrieved by using the original, un-instrumented instance in a `productK` with the instrumentation.

Also, `ReturnTyped` is now pretty much a transformation from `F` to `Constraints`:

[code]

And the usage now looks like this:

[code]

[2020-04-03 05:11] joroKr21 commented on #126
I think we considered that but decided `Instrument[F, A]` would be more convenient.
See PR #95 for some discussion.

We can probably extend `Instrument` with more type parameters `Instrument[F[_], A[_], R[_], T]` for the constraints or add another version `InstrumentConstrained`. There would also have to be a `Trivial[A]` typeclass which always resolves.

Some nice ideas here how to encode constru

[2020-04-03 20:58] dispalt commented on #125
yup ran into this a bunch before, real annoying could never figure out a workaround.

[2020-04-12 16:56] kubukoz commented on #126
you had me at `[F[_], A[_], R[_], T]`...

I'll look at an extended Instrument then!

[2020-04-15 16:47] kubukoz opened #133 "Trouble deriving instances for ApplicativeError/MonadError"
[code]

The above results in:

[code]

which doesn't seem too helpful...

An attempt to derive MonadError:

[code]

yields

[code]

which is slightly more helpful. Implementing the instance helps, but not a lot:

[code]

[code]

and I implemented that too, but it's not being picked up:

[code]

[2020-04-15 17:38] joroKr21 commented on #133
Do you have an idea how to improve the error message?

`CatchOnlyPartiallyApplied` is some type returned by a method in `ApplicativeError` - I bet it's using the well known trick to emulate partially applied type parameters for better type inference. Unfortunately there is nothing we can do here.

[code]
What type is that? Is that a by-name parameter?
Sounds like something we should be able to fix

[2020-04-15 18:53] joroKr21 commented on #125
But the tests are full of such algebras with two annotations and no companion objects:
https://github.com/typelevel/cats-tagless/blob/master/tests/src/test/scala/cats/tagless/tests/autoFunctorKTests.scala

Could it be something related to incremental compilation?
Can you try to clean and compile again?

[2020-04-15 18:56] dispalt commented on #125
I forgot to mention but it works when its within another object, another reason why it was so annoying to figure it out.  If you move one of those traits with two annotations to the top level of the file, it won't work, IIRC.

[2020-04-15 20:07] kubukoz commented on #133
That did look like a by-name, yeah. And now I realize that error with CatchOnlyPartiallyApplied was actually pretty reasonable :) if we can show the method that's missing an extra instance, that'll be pretty awesome, so I'm hopeful for #134!

[2020-04-16 06:52] joroKr21 opened #135 "Support dependent method types"
The following does not work:
[code]

Unfortunately couldn't find a way to make it work.

[2020-04-19 11:17] cosmin33 opened #136 "Publish for scalajs 1.0"
Tried to tackle this one but didn't even find the place to change scalajs version. I suspect many things are hidden under sbt-catalysts magic.. I cound use a few pointers from someone who  knows more.

[2020-04-19 11:32] joroKr21 commented on #136
We should remove sbt-catalyst 😞 But haven't found time to do it.
It's also black magic to me.

[2020-05-03 09:42] #133 closed

[2020-07-24 13:03] joroKr21 commented on #136
@kailuowang any idea how to override scalajs version from catalysts?

[2020-07-28 14:30] #126 closed

[2020-11-08 11:20] larsrh commented on #136
Looks like this can be closed now: https://oss.sonatype.org/content/repositories/public/org/typelevel/cats-tagless-core_sjs1_2.13/0.12/

[2020-11-08 11:20] #136 closed

[2020-11-08 11:21] larsrh opened #169 "Migrate to GitHub Actions"

[2020-11-08 11:21] larsrh opened #170 "Build for Dotty"

[2020-11-11 11:03] joroKr21 commented on #170
https://scalacenter.github.io/scala-3-migration-guide/docs/macros/migration-tutorial.html

[2020-11-28 18:56] #169 closed

[2020-12-13 01:26] smarter commented on #170
This library uses macro annotations which don't exist in Dotty, but things like `@autoFunctorK trait Foo` should be rewritable as `trait Foo derives FunctorK` using https://dotty.epfl.ch/docs/reference/contextual/derivation.html. In fact it looks like [`shapeless-3`](https://github.com/milessabin/shapeless/tree/shapeless-3) already has support for that: (there's an example in the readme)

[2020-12-13 09:37] joroKr21 commented on #170
@smarter the macro annotations are not essential. They just generate an implicit instance in the companion object but the heavy lifting is done by blackbox macros. If we want to use shapeless 3 we would need to somehow generate mirrors for traits.

[2021-01-23 10:29] larsrh opened #192 "Migrate to sbt-spiewak, drop sbt-catalysts"

[2021-01-23 22:32] joroKr21 commented on #62
@larsrh what does "lsug" mean?

[2021-01-23 22:32] #62 closed

[2021-01-23 22:34] joroKr21 commented on #62
Does anyone know how to republish the site?

[2021-01-23 23:02] kailuowang commented on #62
If you have dependencies installed locally (namely ruby and jekyll) you can just run sbt publishMicrosite
More information on sbt-microsite website.

[2021-01-23 23:26] joroKr21 commented on #62
I was too quick to be happy - needed some fixes in #191
The problem was that importing `autoDerive._` from different algebras in the same scope cause a name clash.

[2021-01-24 00:49] joroKr21 commented on #62
Looks nice: https://typelevel.org/cats-tagless/ 🥳

[2021-01-24 07:36] larsrh commented on #62
I prepared this as a ticket to work on at https://www.lsug.co.uk/meetups/2021-01-30

[2021-01-24 07:49] larsrh commented on #62
Ah, and I just saw that there was already a PR for it, so this wouldn't have been a good pick anyway.

[2021-02-14 16:48] Fristi commented on #170
First of all, great work with this library.

Just doing some evaluation for scala 3. We use it in some projects and we would like to know if we could use it when Scala 3 comes out? Or do you plan to port the most used macros first? `FunctorK` and `Tupled2K` are essential, aspect weavng is nice but can be added later.

All the macros need to be rewritte right? I am not an expert :) Contributed on b

[2021-02-14 17:22] joroKr21 commented on #170
It's on my todo list to work on this. I can't promise that it will be done by the time Scala 3 final out though. But - if we manage to port one macro, we can port them all. The implementation is very consistent. The only odd ones are `Instrument` and `Aspect`. Note that there are no macro annotations on Scala 3 so they will have to be replaced by support for `derives FunctorK` etc. clauses.

Embar

[2021-02-16 18:49] joroKr21 commented on #170
We also need to resolve #192 - our build is really outdated 😕

[2021-03-05 14:26] #192 closed

[2021-03-16 11:53] danslapman commented on #125
Good old bug: https://github.com/scalameta/scalameta/issues/1046, this must be fixed in scalac (since paradise was merged in 2.13)

[2021-03-17 00:08] joroKr21 commented on #170
We are blocked by lampepfl/dotty#11685 - looks like we will have to wait until Scala 3.1 😞
I didn't think such a feature could be missing from the new macros.

[2021-03-17 00:22] smarter commented on #170
Out of curiosity, what part of cats-tagless requires generating arbitrary class implementations? I would have though that at least some part of cats-tagless could already be implemented today given that shapeless-3 supports `derives FunctorK` for example which I assume is equivalent to `@autoFunctorK`

[2021-03-17 00:25] joroKr21 commented on #170
@smarter on a high level think `Mirror` for traits.
Given `trait UserRepo[F[_]]` we want to have `FunctorK[UserRepo]`.
shapeless-3 supports `case class UserRepo[F[_]]` but that is not quite the same.

[2021-03-17 00:27] smarter commented on #170
Would https://github.com/lampepfl/dotty/pull/11686 be relevant?

[2021-03-17 00:33] joroKr21 commented on #170
No, what we are talking about here is the equivalence between a trait and the `Mirror.Product` of all it's methods as functions. BTW I'm not sure, does every method type in Scala 3 have a corresponding function type? Can you mix polymorphic functions and dependent functions and contextual functions arbitrarily? But even then type members of the trait would be a problem.

[2021-03-17 00:36] smarter commented on #170
You can mix them yes, but you can't represent method with default parameters or methods with varargs losslessly as functions.

[2021-03-17 00:41] joroKr21 commented on #170
That's not a problem. We are just forwarding to an underlying instance and modifying the arguments and/or the result. Varargs just have to be passed correctly but otherwise can be viewed as a `Seq`. Default parameters are a property of the interface, not the implementation so they don't matter.

So in theory, if we had `Mirror.Product[trait, tuple of functions]` we could use shapeless-3

[2021-03-17 00:42] joroKr21 commented on #170
But then you have edge cases like what about abstract vs non-abstract methods?
You shouldn't really have the `AnyRef` methods in that pile.

[2021-04-24 16:08] joroKr21 commented on #125
Would this fix the problem? scala/scala#9555

[2021-07-26 08:54] nigredo-tori opened #261 "Add versions of FunctorK and ApplyK for bi- and tri-functors, with macro derivation"
Motivation: I'm having to deal with [Tapir](https://github.com/softwaremill/tapir), using it to generate client and service implementations for some APIs. I end up with values like these:
[code]
If you squint hard enough (and if you have enough endpoints to generalize), you can see that the three `foo*` values belong in three variants of the same shape that describes the API as a whole:
[code]
Aut

[2022-01-02 13:36] xplosunn opened #310 "mapK with method name"
Currently FunctorK provides mapK:

[code]

I've had the use case where I'd like to do a mapK, but have the method name of the Alg (it was a trait) available. A simple example would be me wanting to log every method call on an Alg (using mapK to map to the same effect).

I think it'd be useful to have something like:

[code]

If this is something you believe makes sense to have, I'd be happy to con

[2022-01-02 14:26] joroKr21 commented on #310
What you're looking for is `instrument`: https://github.com/typelevel/cats-tagless/blob/master/core/src/main/scala/cats/tagless/aop/Instrument.scala

[2022-01-02 16:52] xplosunn commented on #310
I will look into it. Thanks!

[2022-01-02 16:52] #310 closed

[2022-03-27 08:57] joroKr21 commented on #261
I think this would only work if we have a different form of natural transformation.
Instead of `type ~>[F[_], G[_]] = arrow.FunctionK[F, G]` it would have to be `Function2K[F[_, _], G[_, _]]` 🤔

[2022-03-28 22:38] ScalaWilliam commented on #170
@joroKr21 @smarter
https://github.com/lampepfl/dotty/issues/11685 is now merged into dotty (it was noted as a blocker on an earlier message of joro's). Is it now possible to support this library on Scala 3?

[2022-03-28 22:47] smarter commented on #170
Well, someone has to go and try to port the macros to find that out :). That would be a good exercise since this feature is still experimental in the compiler (only available in nightlies) and user feedback would help us decide if it's good enough to stabilize.

[2022-03-29 00:01] ScalaWilliam commented on #170
How about we first make it work without any cross-building and release it as `cats-tagless3` - since configuring a build is super complicated, this could be decoupled?

I had a go, the following compiles `core` (except some places I had to comment). I am not particularly knowledgeable on HKTs, so this might be completely wrong.

- https://github.com/ScalaWilliam/cats-tagless3/commit/5914b5fe4f210f

[2022-03-29 09:27] smarter commented on #170
That stackoverflow is fixed in 3.1.1 but your build uses 3.1.0 for some reason.

[2022-03-29 20:56] ScalaWilliam commented on #170
@smarter yep that works. compilation is Ok in `core` but not in `macrosJVM` and `lawsJVM`. 138 errors

[2022-03-30 07:06] joroKr21 commented on #170
Yeah we need to reimplement the macros in Scala 3 - a good place to start is with `FunctorK`

[2022-07-31 01:03] kubukoz opened #365 "Generalization of `FunctorK`"
Hi! I was searching for something that would resemble this:

[code]

but didn't find anything. Long story short, I played around and came up with this:

[code]

which is similar to aspects, but doesn't require an instance to call the attached method.

It turns out `suspendK` is enough to implement `mapK` as well as `deferK`:

[code]

Does this seem like a valuable addition? I certainly could use `

[2022-08-01 13:40] kubukoz commented on #365
My usecase is that I have the service in a `Ref` and would like to make it transparent for the caller.

It's in a LSP server implementation - the Ref starts with a "default" implementation that essentially fails every effect if ever called (there's effectful initialization order issues that force me to complicate matters as much), but it's also updated every time a config file is changed.

https:/

[2022-08-01 14:11] joroKr21 commented on #365
@kubukoz you can do this currently with `ReaderT`. I'm not sure if we need a special construct for that:
[code]

[2022-08-01 14:32] joroKr21 commented on #365
See #366 for an example

[2022-08-01 17:17] kubukoz commented on #365
oh, that'd probably work. Thanks!

[2022-08-01 17:25] kubukoz commented on #365
It works, thanks again.

[2022-08-01 17:25] #365 closed

[2022-08-24 03:13] pomadchin commented on #170
Hey 👋 , we've (with @dos65) recently tired to play around with https://github.com/lampepfl/dotty/issues/11685 to start working on the cats-tagless macros migration; very good and exciting news is that it looks like it works 🎉 🎉 🎉 ! (Scala 3.2.0-RC4 is required)

It lives in a separate repo https://github.com/pomadchin/tagless-derivation at this point, with some basic macro functions for `FunctorK`

[2022-08-24 03:18] Swoorup commented on #170
Great news

[2022-11-10 17:12] jchapuis commented on #170
Great! are you still working on this front?

[2022-11-10 17:16] pomadchin commented on #170
Hey @jchapuis yea, just a bit slow due to the lack of time 😞

I finished the POC a ~ day ago in a separate repo; hopefully will have time soon to start working on a PR against this repo.